# macOS
.DS_Store
**/.DS_Store

# Xcode user data
xcuserdata/
**/xcuserdata/
*.xcuserstate
*.xcuserdatad

# Xcode build products
DerivedData/
**/DerivedData/
build/
**/build/

# Swift Package Manager
.build/
**/.build/

# Xcode archives
*.xcarchive

# Debug symbols
*.dSYM
*.dSYM.zip